streamlit
pyyaml
qianfan
langchain
duckduckgo_search
unstructured
pdf2image
pdfminer.six
sentence-transformers
faiss-cpu
openai
websocket
dashscope
zhipuai
python-dotenv
chromadb
BeautifulSoup4
streamlit-ace
